<div class="container mt-2">
    <div class="card card-block">
        <nav class="navbar navbar-dark bg-dark mb-1">
            <h1 class="navbar-brand mb-0" style="color: white">Overall Metrics</h1>
        </nav>
        <div class="row">
            <metric class="col-sm-6" [used]="cpu.used" [available]="cpu.available" [title]="'CPU'"
                [description]="'utilization of CPU cores'">
            </metric>
            <metric class="col-sm-6" [used]="mem.used" [available]="mem.available" [title]="'Memory'"
                [description]="'utilization of memory in GB'">
            </metric>
        </div>
    </div>
</div>